<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=(local);User ID=sa;Password=123456;Initial Catalog=dbName;Pooling=false</Dbconnectstring>
  <Tableprefix>wapkang_</Tableprefix>
  <Webpath>/</Webpath>
  <Dbtype>SqlServer</Dbtype>
  <FounderId>1000</FounderId>
  <PasswordMode>1</PasswordMode>
</BaseConfigInfo>   